#top{
    width: 50%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
#top > img{
    border: 1px solid red;
    width: 30%;
    margin: auto;
    
}
#top > p{
    margin-top: 30px;
    font-family: "proxima nova", sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
