*{
    padding: 0%;
    margin: 0%;
    font-family: "Gilroy", '-apple-system', "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body{
    height: 100%;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    overflow: hidden;
}
#navbar{
    display: flex;
    /* border: 1px solid red; */
    /* flex-direction: column; */
    padding: 28px 45px 28px 25px;
    justify-content: space-between;

}

#left{
    width: 72%;
    display: flex;
    /* border: 1px solid teal; */
    justify-content: space-between;
    align-items: center;
}

#left > img {
    width: 20%;
    height: 87%;


}
#left > ul{
    width: 70%;
    display: flex;
    gap: 10px;
    /* border: 1px solid black; */
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}

#left > ul li{
    list-style: none;
}

#right{
    width:15%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    font-weight: bold;

}
#right button{
    padding: 12px 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color:#006bff;
    color: white;
    border: none;
}
/* ---------------------------------------------------------------------------------- */
#top {
    margin-top: 170px;
    margin-left: 70px;
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;

}
#top div:nth-child(1){
    width: 40%;
    /* border: 1px solid red; */
}

#top div >p:nth-child(1){
    /* border: 1px solid teal; */
    font-size: 75px;
    font-weight: bolder;
}
#top div >p:nth-child(2){
    /* border: 1px solid yellowgreen; */
    margin-top: 50px;
    font-size: 20px;
    line-height: 28px;
}
#top > div > input{
    display: inline;
    width: 46%;
    padding: 20px 80px 20px 38px;
    margin-top: 30px;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#top > div > button{
    padding: 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color:#006bff;
    color: white;
    border: none;
    margin-left: 10px;
}
#top > div > button+p{
    font-size: 16px;
    margin-top: 10px;
}
#top > div + div{
    width: 55%;
    margin-top: 30px;
}

#top > div + div > img{
    width: 100%;
}

#div_2{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 130px;
    padding-bottom: 70px;
}

#div_2 > p{
    width: 55%;
    margin: auto;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    line-height: 55px;
    margin-top: 10px;
}

#div_2 > div{
    width: 95%;
    margin: auto;
    display: flex;
    /* grid-template-columns: repeat(5,1fr); */
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 70px;
}
#div_2 > div > img{
    width: 10%;

}

#div_3{
    width: 90%;
    height: auto;
    /* border: 1px solid black; */
    margin: auto;
}
#div_3 > p{
    width: 61%;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 43px;
    font-weight: bolder;
    margin-top: 20px;
    padding-bottom: 40px;
}
#div_nav{
    /* border: 1px solid green; */
    width: 65%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
#div_nav > ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
    padding: 8px 0px;
}
#main{
    display: flex;
    /* border: 1px solid red; */
    /* margin-top: 100px; */
    width: 85%;
    height: auto;
    margin: auto;
}

#image{
    margin-top: 35px;
    width: 80%;
    /* border: 1px solid black; */
    height: auto;
}
#image > img{
    width: 100%;
}
.symbol{
    display: flex;
    gap: 12px;
}
.symbol > img{
    padding: 10px;
}
.symbol > p{
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}
.symbol + div{
    width: 89%;
    margin-left: 8%;
    line-height: 25.6px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: -8px;

}
#main_right{
    /* border: 1px solid teal; */
    width: 90%;
    height: auto;
    margin-top: 29px;
    padding-bottom: 40px;
}

#div_4{
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
}
#bottom{
    width: 100%;
    /* border: 1px solid yellow; */
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
#div_4>div:nth-child(1){
    text-align: center;
    font-size: 41px;
    font-weight: bolder;
    width: 58%;
    margin: auto;
    margin-top: 30px;
    color: #0b3558;
}
#bottom > div:nth-child(1){
    width: 50%;
}
#bottom > div:nth-child(1) > p:nth-child(1){
    font-size: 39px;
    line-height: 53.06px;
    font-weight: bold;
    margin-top: 50px;
    width: 80%;
    color: #0b3558;
}
#bottom > div:nth-child(1) > p:nth-child(2){
    width: 80%;
    font-size: 18px;
    line-height: 30.8571px;
    margin-top: 40px;
}
#bottom > div:nth-child(1) > p:nth-child(3){
    font-size: 18px;
    font-weight: bold;
    color: #006bff;
    margin-top: 35px;
}
#bottom > div:nth-child(2){
    width: 50%;
}

#bottom > div:nth-child(2) > img{
    width: 100%;
}
 #div_5{
    background-color: #f7faff;
    margin-top: 40px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
 }
 #div_5 >div:nth-child(1){
    width: 45%;
    border: 1ps solid red;
 }
 #div_5 >div:nth-child(1)>img{
    width: 90%;
    padding-left: 60px;
 }

 #div_5 >div:nth-child(2){
    width: 48%;
    /* border: 1px solid blue; */
    margin-right: 30px;
 }

 #div_5 >div:nth-child(2) > p:nth-child(1){
    font-size: 28px;
    line-height: 39px;
    width: 75%;
    /* margin: auto; */
    margin-top: 20px;
    text-align: left;
 }
 #div_5 >div:nth-child(2) >img{
    margin-top: 30px;
    height: 40px;

 }
 #div_5 >div:nth-child(2) >img+p{
    font-size: 24px;
    margin-top: 20px;
 }
 #div_5 >div:nth-child(2) >img+p+p{
    font-size: 14px;
 }

 #div_5 >div:nth-child(2) >img+p+p+p{
    color: blue;
    margin-top: 40px;
    font-size: 16px;
    font-weight: bold;
 }
 #div_6{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
 }
 #div_6>p{
    width: 65%;
    margin: auto;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #0b3558;
 }

 #div_6_bottom {
    display: flex;
    /* border: 1px solid blue; */
    margin-top: 30px;   
    /* justify-content: space-between; */
    gap: 30px;


 }
 #div_6_bottom >div:nth-child(1){
    /* border: 1px solid red; */
    width: 70%;
    margin-top: 28px;
 }
 #div_6_bottom >div:nth-child(1) > img{
    width: 100%;
 }
 #div_6_bottom >div:nth-child(2){
    display: flex;
    flex-direction: column;
    /* border: 1px solid teal; */
    gap: 43px;
    width: 22%;
    margin-top: 36px;
 }
 #div_6_bottom >div:nth-child(2)>div{
    font-size: 22px;
    font-weight: bold;
    line-height: 32px;
    color: gray;
 }
#div_7{
    width: 100%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    padding: 60px;
    gap: 20px;

}
#div_7>div:nth-child(1){

    width: 35%;  
    background-color: #f7faff;
    margin-top: 50px;
}
#div_7>div:nth-child(1)>p:nth-child(1){
    font-size: 50px;
    margin-top: 80px;
    font-weight: bold;
    text-align: left;
}
#div_7>div:nth-child(1)>p:nth-child(2){
    font-size: 18px;
    margin-top: 30px;
}
#div_7>div:nth-child(1) > button{
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: #006bff ;
    color: white;
    font-size: 20px;
    border: none;
}
#div_7>div:nth-child(2){
    width: 60%;
    /* border: 1px solid yellow; */
    /* background-color: #e1f2ff; */
}
#div_7>div:nth-child(2)>img{
    width: 80%;
    margin: 90px 0px 50px 40px;
}
#div_8{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    gap: 20px;
}
#div_8>div:nth-child(1){
    margin-top: 20px;
    width: 60%;
}
#div_8>div:nth-child(1) > img{
    width: 90%;
}
#div_8>div:nth-child(2){
    /* border: 1px solid black; */
    width: 40%;

}

#div_8>div:nth-child(2)>div:nth-child(1)>p{
    font-size: 39px;
    font-weight: bold;
    line-height: 53px;

}
.content>p:nth-child(odd){
    /* background-color: #006bff; */
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}
.content>p:nth-child(even){
    font-size: 18px;
}
#flex{
    display: flex;
    gap: 38px;
    flex-direction: column;
    /* background-color: #006bff; */
    margin-top: 30px;
}
.flex{
    display: flex;
    gap: 12px;
}
.fa-solid {
    color: blue;
    font-weight: 200;
}
#signup{
    width: 99%;
    margin: auto;
    border: 1px solid white;
    text-align: center;
    background-color: #f7faff;
    margin-top: 70px;
}
#signup > div{
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;

}
div > h2{
    margin-top: 90px;
    font-size: 50px;
}
#signup > div > span {
    /* border: 1px solid red; */
    padding: 10px 20px;
    margin-top: 40px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 90px;
}

#signup > div > span:nth-child(1){
    background-color: #006bff;
    color: white;
    border: none;
}

#signup > div > span:nth-child(2){
    border: 1px solid blue;
    color: blue;
    background-color:#f7faff;
}
#mainFooter{
    width: 99%;
    /* border:1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin: 30px 30px 10px 30px;
}
#leftFooter{
    /* margin-top: -5px; */
    width: 25%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding-left: 10px;

}
#h2{
    width: 20%;
    font-size: 39px;
    margin-bottom: 40px;
}
#h2  span{
    color: blue;
}

#leftFooter > div > p{
    margin-top: -25px;
    font-size: 18px;
    line-height: 31px;
    /* margin-bottom: 40px; */
}
#lang{
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 12px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-weight: bold;
}
#img{
    /* border: 1px solid yellow; */
    width: 90%;
    margin-top: 40px;


}
#img > img {
    width: 100%;
}
#font{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#font > i{
    font-size: 22px;
}
#rightFooter{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,300px);
    /* border: 1px solid black; */
    width: 60%;
    height: auto;
    gap: 0px 10px;
    color: gray;
}
#rightFooter >div{
    font-size: 18px;
    /* border: 1px solid red; */
    /* gap: 1px; */
    height: auto;
    padding-left: 20px;
}

#rightFooter > div p{
    margin-bottom: 20px;
}
